<table class="table table-sm table-light table-striped" *ngIf="tracks">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Track</th>
			<th scope="col">Duration</th>
			<th *ngIf="!hideArtist" scope="col">Primary Artist</th>
			<th *ngIf="!hideAlbum" scope="col">Album</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let track of tracks">
			<td>{{1}}</td>
			<td>
				<a [href]="track.url">{{track.name}}</a>
			</td>
			{{track.durationStr}}
			<td *ngIf="!hideArtist">{{track.artists.at(0).name}}</td>
			<td *ngIf="!hideAlbum"><a [href]="track.album.url">{{track.album.name}}</a></td>
			<td><a></a></td>
		</tr>
	</tbody>
</table>
