<h1>Search Spotify</h1>
<input [(ngModel)]="searchString">
<select [(ngModel)]="searchCategory">
	<option *ngFor="let category of searchCategories" [value]="category">{{category}}</option>
</select>
<button class="btn btn-light" (click)="search()">Search</button>
<!--TODO: Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->
<div *ngIf="searchCategory==='artist'" class="row">
	<div class="col-6">
		<app-carousel [resources]="artists" carouselId="artistsCarousel"></app-carousel>
	</div>
</div>
<app-track-list *ngIf="searchCategory==='track'" [tracks]="tracks"></app-track-list>