<h1>Search Spotify</h1>
<input [(ngModel)]="searchString">
<select [(ngModel)]="searchCategory">
	<option *ngFor="let category of searchCategories" [value]="category">{{category}}</option>
</select>
<button class="btn btn-light" (click)="search()">Search</button>
<!--TODO: Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->

<app-carousel *ngIf="searchCategory !='track'"[resources]="resources" carouselId="artistsAlbumsCarousel"></app-carousel>

<app-track-list *ngIf="searchCategory ==='track'" [tracks]="resources"></app-track-list>